*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    background: url("../Images/productPage.jpg") center /cover !important ;
}
/* }
.box-container .box .cart1 {
  
    background-color: #38220f;
    padding: 10px 35px;
    display: inline-block;
    border: solid 1px #38220f;
    border-radius: 30px;
    color: white;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
    z-index: 2;
}
.box-container .box .cart1:hover{
    color: white;
    background-color:transparent;
    border: solid 2px #38220f;
} */