
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
body{
    background: var(--bg);
}
.navbar1 {
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100vh;
    background-size: cover;
     z-index: -1;
     }
  .icons {
    color: white ;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .search-container {
    display: flex;
    align-items: center;
  }
  .search-form {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
  }

  .search-form.active {
    transform: scaleX(1);
  }

  section{
      padding: 2rem 7%;
  }
  .heading{
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 3.5rem;
      font-size: 2rem;
  }
  
  .heading span{
      color:var(--main-color);
      text-transform: uppercase;
  }
  
  
  .menu .box-container{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
      gap:1rem;
  }
  

  .menu .box-container .box{
      padding: 2rem;
      text-align: center;
      border: var(--border);
  }
  .menu .box-container .box img{
      height: 10rem;
      width:  10rem ;
      border-radius: 50%;
  }
  .menu .box-container .box h3{
      color:#fff;
      padding: 1rem 0;
  }
  .menu .box-container .box .price{
      color:#fff;
      padding: .5rem 0;
  }
  .menu .box-container .box .price span{
      font-weight: lighter;
      text-decoration: line-through;
    
  }
  .menu .box-container .box:hover{
      background: #fff;
  }
  .menu .box-container .box:hover > * {
     color: var(--black);
  }
  .btn{
      margin-top: 1rem;
      display:inline-block;
      padding: .9rem 3rem;
      color:#fff;
      background: var(--main-color);
      cursor: pointer;
  
  }
  .btn:hover{
      letter-spacing: .2rem;
  }
  .products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:1rem;
}
.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 1rem;
}

.products .box-container .box .icons a{
  height: 5rem;
  width:5rem;
  line-height: 5rem;
  border: var(--border);
  color: #fff;
  margin: .3rem;
}
.products .box-container .box .icons a:hover{
  background-color: var(--main-color);
}
.products .box-container .box .image{
  padding: 1.5rem 0;
}
.products .box-container .box .image img{
  height: 18rem;
  width: 14rem;
}
.products .box-container .box .content h3{
  color: #fff;
}
.products .box-container .box .content .stars{
  padding: 1.5rem;
}

.products .box-container .box .content .stars i{
  color: var(--main-color);
}

.products .box-container .box .content .price{
  color: #fff;
}
.products .box-container .box .content .price span{
  text-decoration: line-through;
  font-weight: lighter;
}


#sec1{
  height: 550px;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
}
#sec1 .div1 {
  height: 300px;
 width: 500px;
}
#sec1 .div1 h1{
  font-size: 30px;
  margin-bottom: 39px;
}

.home-para{
  font-size: 40px;
  color:white;
  font-family: 'Great Vibes', cursive;
  padding: 10px;
}
#collapse-icon{
  background-color: #fff;
}
.body{
  min-height: 100vh;
  background: url("../Images/Products/login.jpeg") center /cover !important ;
  color: #fff;
 
}
.myOrder{
  min-height: 100vh;
  background: url("../Images/Products/photo.jpg") center /cover !important ;
  color: #fff;
 
}